<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <profiles>
        <profile>
            <id>myprofile</id>

            <repositories>

                <repository>
                    <id>my-repo0</id>
                    <name>Googles fast mirror</name>
                    <url>https://maven-central-eu.storage-download.googleapis.com/</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>

                <repository>
                    <id>my-repo1</id>
                    <name>your custom repo</name>
                    <url>https://repo1.maven.org/maven2</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>

                <repository>
                    <id>my-repo2</id>
                    <name>your custom repo</name>
                    <url>https://maven.wso2.org/nexus/content/groups/wso2-public</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>

                <repository>
                    <id>my-repo3</id>
                    <name>your custom repo</name>
                    <url>https://packages.confluent.io/maven/</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>my-repo4</id>
                    <name>your custom repo</name>
                    <url>https://mvnrepository.com/artifact/</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
               </repository>                      
               <repository>
                    <id>my-repo5</id>
                    <name>your custom repo</name>
                    <url>https://jcenter.bintray.com</url>
                      <snapshots>
                          <enabled>false</enabled>
                      </snapshots>
                </repository>

                <repository>
                    <id>my-repo6</id>
                    <name>your custom repo</name>
                    <url>https://repo.maven.apache.org/maven2</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>






            </repositories>



        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>myprofile</activeProfile>
    </activeProfiles>

</settings>
